<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BookServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44374/BookService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BookServiceSoap"
                contract="ServiceReference1.BookServiceSoap" name="BookServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>